<div id="helpful-links" class="section panel overflow-hidden">
    <div class="section-outer panel pb-6 sm:pb-8 lg:pb-9">
        <div class="container max-w-lg">
            <div class="section-inner panel">
                <div class="panel vstack gap-4 sm:gap-6 xl:gap-8">
                    <h2 class="h4 sm:h3 lg:h2 m-0 text-center" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">Other ways to reach us</h2>
                    <div class="row child-cols-12 sm:child-cols-6 g-2 lg:g-4 justify-between col-match" data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                        <div>
                            <div class="panel hstack gap-2 lg:gap-3 items-center justify-between px-3 py-4 lg:p-4 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:scale-105 duration-150 transition-all">
                                <div class="cstack w-64px h-64px lg:w-80px lg:h-80px rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                    <img class="w-32px lg:w-48px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/icon-location.svg" alt="location-icon">
                                    <img class="w-32px lg:w-48px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/icon-location-dark.svg" alt="location-icon-dark">
                                </div>
                                <div class="vstack textbox justify-center">
                                    <h5 class="h6 lg:h6 lg:h5 m-0">Our Office</h5>
                                    <p class="fs-7 lg:fs-6 opacity-70 dark:opacity-80"><a href="https://www.google.com/maps/dir//Ashoka+Tower+chowk,+Insd+Raipur,+3rd+Floor,+Ashutosh+Tower,+Shankar+Nagar+Rd,+Shankar+Nagar,+Raipur,+Chhattisgarh+492001/@21.2528679,81.5818622,28855m/data=!3m1!1e3!4m8!4m7!1m0!1m5!1m1!1s0x3a28dd1266c15555:0xf9e97a79bfc9a35f!2m2!1d81.6642639!2d21.2528879?entry=ttu&g_ep=EgoyMDI1MDUwNS4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">
                                        INSD Raipur, 3rd Floor, Ashutosh Tower, Shankar Nagar, Raipur, Chhattisgarh</a></p>
                                </div>
                                <a class="redir" href="https://www.google.com/maps/dir//Ashoka+Tower+chowk,+Insd+Raipur,+3rd+Floor,+Ashutosh+Tower,+Shankar+Nagar+Rd,+Shankar+Nagar,+Raipur,+Chhattisgarh+492001/@21.2528679,81.5818622,28855m/data=!3m1!1e3!4m8!4m7!1m0!1m5!1m1!1s0x3a28dd1266c15555:0xf9e97a79bfc9a35f!2m2!1d81.6642639!2d21.2528879?entry=ttu&g_ep=EgoyMDI1MDUwNS4wIKXMDSoASAFQAw%3D%3D" class="uc-link fw-bold hstack gap-narrow">
                                    <span>Visit Us Now</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="panel hstack gap-2 lg:gap-3 items-center justify-between px-3 py-4 lg:p-4 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:scale-105 duration-150 transition-all">
                                <div class="cstack w-80px h-80px rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                    <img class="w-48px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/icon-chat.svg" alt="chat-icon">
                                    <img class="w-48px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/icon-chat-dark.svg" alt="chat-icon-dark">
                                </div>
                                <div class="vstack textbox justify-center">
                                    <h5 class="h6 lg:h5 m-0">Via chat</h5>
                                    <p class="fs-7 lg:fs-6 opacity-70 dark:opacity-80"><a href="https://wa.me/918871679000?text=Hey%2C%20I%20am%20interested" target="_blank" rel="noopener noreferrer">
                                        Chat with us on WhatsApp
                                        +918871679000
                                        </a>
                                    </p>
                                </div>
                                <a class="redir" href="https://wa.me/918871679000?text=Hey%2C%20I%20am%20interested" class="uc-link fw-bold hstack gap-narrow">
                                    <span>Text Us Now</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="panel hstack gap-2 lg:gap-3 items-center justify-between px-3 py-4 lg:p-4 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:scale-105 duration-150 transition-all">
                                <div class="cstack w-80px h-80px rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                    <img class="w-48px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/icon-internet.svg" alt="internet-icon">
                                    <img class="w-48px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/icon-internet-dark.svg" alt="internet-icon-dark">
                                </div>
                                <div class="vstack textbox justify-center">
                                    <h5 class="h6 lg:h5 m-0">Email Us
                                        </h5>
                                    <p class="fs-7 lg:fs-6 opacity-70 dark:opacity-80"> <a href="mailto:insd0123@gmail.com" class="contact-link">insd0123@gmail.com</a> , <a href="mailto:info@insdraipur.com" class="contact-link">info@insdraipur.com</a></p>
                                </div>
                                <a class="redir" href="mailto:info@insdraipur.com" class="uc-link fw-bold hstack gap-narrow">
                                    <span>Email Us Now</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="panel hstack gap-2 lg:gap-3 items-center justify-between px-3 py-4 lg:p-4 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:scale-105 duration-150 transition-all">
                                <div class="cstack w-80px h-80px rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                    <img class="w-48px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/icon-community.svg" alt="community-icon">
                                    <img class="w-48px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/icon-community-dark.svg" alt="community-icon-dark">
                                </div>
                                <div class="vstack textbox justify-center">
                                    <h5 class="h6 lg:h5 m-0">Call Us
                                        
                                        </h5>
                                    <div class="fs-7 lg:fs-6 opacity-70 dark:opacity-80 " ><p>
                                        For direct assistance, call us at:
                                    </p>
                                        <a href="tel:8871679000" class="contact-link">8871679000</a>
                                        <a href="tel:6266048246" class="contact-link">6266048246</a>
                                        <a href="tel:8602358000" class="contact-link">8602358000</a></div>
                                </div>
                                <a class="redir" href="tel:8871679000" class="uc-link fw-bold hstack gap-narrow">
                                    <span>Call us now</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    a{
        text-decoration: none;
    }
    .textbox{
        max-width: 240px;
    }
    .redir{
        max-width: 40px;
        color: #12715b;
        font-weight: 700;
    }
</style>