<div id="helpful-links" class="section panel overflow-hidden">
    <div class="section-outer panel pb-6 sm:pb-8 lg:pb-9">
        <div class="container max-w-lg">
            <div class="section-inner panel">
                <div class="panel vstack gap-4 sm:gap-6 xl:gap-8">
                    <h2 class="h4 sm:h3 lg:h2 m-0 text-center" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">Other ways to reach us</h2>
                    <div class="row child-cols-12 sm:child-cols-6 g-2 lg:g-4 justify-between col-match" data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                        <!-- Office Location Card -->
                        <div class="contact-card-wrapper" style="height: 210px;">
                            <a href="https://www.google.com/maps/dir//Ashoka+Tower+chowk,+Insd+Raipur,+3rd+Floor,+Ashutosh+Tower,+Shankar+Nagar+Rd,+Shankar+Nagar,+Raipur,+Chhattisgarh+492001/@21.2528679,81.5818622,28855m/data=!3m1!1e3!4m8!4m7!1m0!1m5!1m1!1s0x3a28dd1266c15555:0xf9e97a79bfc9a35f!2m2!1d81.6642639!2d21.2528879?entry=ttu&g_ep=EgoyMDI1MDUwNS4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer" class="contact-card-link">
                                <div class="panel hstack gap-2 lg:gap-3 items-center px-3 py-4 lg:p-4 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:scale-105 duration-150 transition-all h-full">
                                    <div class="cstack w-64px h-64px lg:w-80px lg:h-80px rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                        <img class="w-32px lg:w-48px d-block dark:d-none" src="/assets/images/location.svg" alt="location-icon">
                                        <img class="w-32px lg:w-48px d-none dark:d-block" src="/assets/images/location.svg" alt="location-icon-dark">
                                    </div>
                                    <div class="contact-card-content">
                                        <div class="vstack textbox justify-center">
                                            <h5 class="h6 lg:h6 lg:h5 m-0">Our Office</h5>
                                            <p class="fs-7 lg:fs-6 opacity-70 dark:opacity-80">INSD Raipur, 3rd Floor, Ashutosh Tower, Shankar Nagar, Raipur, Chhattisgarh</p>
                                        </div>
                                        <div class="redir">
                                            <span>Visit Now</span>
                                            <i class="fas fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

 <!-- Phone Card -->
 <div class="contact-card-wrapper">
    <a href="tel:8871679000" class="contact-card-link">
        <div class="panel hstack gap-2 lg:gap-3 items-center px-3 py-4 lg:p-4 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:scale-105 duration-150 transition-all h-full">
            <div class="cstack w-80px h-80px rounded lg:rounded-2 bg-white dark:bg-gray-800">
                <img class="w-48px d-block dark:d-none" src="/assets/images/phone.svg" alt="community-icon">
                <img class="w-48px d-none dark:d-block" src="/assets/images/phone.svg" alt="community-icon-dark">
            </div>
            <div class="contact-card-content">
                <div class="vstack textbox justify-center">
                    <h5 class="h6 lg:h5 m-0">Call Us</h5>
                    <div class="fs-7 lg:fs-6 opacity-70 dark:opacity-80">
                        <p>For direct assistance, call us at:</p>
                        +918871679000, +916266048246, +918602358000
                    </div>
                </div>
                <div class="redir">
                    <span>Call Now</span>
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
        </div>
    </a>
</div>

                       

                        <!-- Email Card -->
                        <div class="contact-card-wrapper">
                            <a href="mailto:info@insdraipur.com" class="contact-card-link">
                                <div class="panel hstack gap-2 lg:gap-3 items-center px-3 py-4 lg:p-4 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:scale-105 duration-150 transition-all h-full">
                                    <div class="cstack w-80px h-80px rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                        <img class="w-48px d-block dark:d-none" src="/assets/images/mail.svg" alt="internet-icon">
                                        <img class="w-48px d-none dark:d-block" src="/assets/images/mail.svg" alt="internet-icon-dark">
                                    </div>
                                    <div class="contact-card-content">
                                        <div class="vstack textbox justify-center">
                                            <h5 class="h6 lg:h5 m-0">Email Us</h5>
                                            <p class="fs-7 lg:fs-6 opacity-70 dark:opacity-80">insd0123@gmail.com, info@insdraipur.com</p>
                                        </div>
                                        <div class="redir">
                                            <span>Email Now</span>
                                            <i class="fas fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- WhatsApp Chat Card -->
                        <div class="contact-card-wrapper">
                            <a href="https://wa.me/918871679000?text=Hey%2C%20I%20am%20interested" target="_blank" rel="noopener noreferrer" class="contact-card-link">
                                <div class="panel hstack gap-2 lg:gap-3 items-center px-3 py-4 lg:p-4 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:scale-105 duration-150 transition-all h-full">
                                    <div class="cstack w-80px h-80px rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                        <img class="w-48px d-block dark:d-none" src="/assets/images/message.svg" alt="chat-icon">
                                        <img class="w-48px d-none dark:d-block" src="/assets/images/message.svg" alt="chat-icon-dark">
                                    </div>
                                    <div class="contact-card-content">
                                        <div class="vstack textbox justify-center">
                                            <h5 class="h6 lg:h5 m-0">Via chat</h5>
                                            <p class="fs-7 lg:fs-6 opacity-70 dark:opacity-80">Chat with us on WhatsApp +918871679000</p>
                                        </div>
                                        <div class="redir">
                                            <span>Text Now</span>
                                            <i class="fas fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .contact-card-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .contact-card-link {
        text-decoration: none;
        color: inherit;
        display: block;
        height: 100%;
    }
    
    .contact-card-link > .panel {
        height: 100%;
    }
    
    .contact-card-link:hover .redir {
        color: #ac3948;
    }
    
    .contact-card-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    
    .textbox {
        max-width: 315px;
        margin-bottom: 10px;
    }
    
    .textbox h5 {
        margin-bottom: 10px !important;
    }
    
    .redir {
        color: #ac3948;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
    }
    
    a.contact-link {
        color: inherit;
        text-decoration: none;
    }
    
    a.contact-link:hover {
        text-decoration: underline;
    }
    
    /* Ensure all cards have equal height */
    .row.child-cols-12.sm\:child-cols-6 {
        display: flex;
        flex-wrap: wrap;
    }
    
    .row.child-cols-12.sm\:child-cols-6 > * {
        display: flex;
    }
    
    /* Make sure the cards stretch to full height */
    .h-full {
        height: 100%;
    }
</style>