<%- include('header'), {seoDetails} %>
<div id="wrapper" class="wrap">

  <!-- Section start -->
  <div id="hero_header" class="hero-header section panel overflow-hidden">
      <div class="position-absolute top-0 start-0 end-0 min-h-screen overflow-hidden d-none lg:d-block" data-anime="targets: >*; scale: [0, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 750});">
          <div class="position-absolute top-0 start-0 rotate-45" style="top: 20% !important; left: 18% !important">
              <img class="w-24px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/template/star-1.svg" alt="star-1" data-uc-svg>
          </div>
          <div class="position-absolute top-0 end-0 rotate-45" style="top: 15% !important; right: 18% !important">
              <img class="w-32px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/template/star-2.svg" alt="star-2" data-uc-svg>
          </div>
      </div>
      <div class="section-outer panel pt-9 lg:pt-10 pb-6 sm:pb-8 lg:pb-9">
          <div class="container max-w-xl">
              <div class="section-inner panel mt-2 sm:mt-4 lg:mt-0" data-anime="targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                  <div class="vstack items-center gap-4 mb-4 sm:mb-6 lg:mb-8 max-w-850px mx-auto text-center">
                      <h1 class="h2 sm:h1 lg:display-6 xl:display-5 m-0">About Lexend.</h1>
                      <p class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">In 2014, Steven Smith have gotten so much of our time back that we're now able to put towards things that are actually helping our company as opposed to just throwing content out there. and the idea of Lexend was born. Today, Lexend empowers teams to easily communicate with customers through personalized documents that can be created in minutes, build meaningful relationships.</p>
                  </div>
                  <div class="panel row child-cols-12 col-match g-1 sm:g-2">
                      <div class="col-4">
                          <figure class="featured-image m-0 rounded ratio ratio-2x3 sm:rounded-2 uc-transition-toggle overflow-hidden">
                              <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/template/hero-about-01.jpg" alt="About image">
                          </figure>
                          <div class="position-absolute top-0 start-0 z-1 ms-n8 mt-n8 d-none lg:d-block">
                              <img class="w-200px xl:w-250px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/hand-pencil.svg" alt="hand-pencil">
                              <img class="w-200px xl:w-250px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/hand-pencil-dark.svg" alt="hand-pencil-dark">
                          </div>
                      </div>
                      <div class="col-8">
                          <div class="h-100">
                              <figure class="panel h-100 m-0 rounded sm:rounded-2 overflow-hidden">
                                  <canvas class="h-100 w-100"></canvas>
                                  <img class="media-cover image" src="../assets/images/template/hero-about-02.jpg" alt="About image">
                              </figure>
                          </div>
                          <div class="position-absolute bottom-0 end-0 z-1 me-n8 mb-n8 d-none lg:d-block">
                              <img class="w-200px xl:w-250px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/empathing.svg" alt="empathing">
                              <img class="w-200px xl:w-250px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/empathing-dark.svg" alt="empathing-dark">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Section end -->

  <!-- Section start -->
  <div id="clients_brands" class="clients-brands section panel overflow-hidden">
      <div class="section-outer panel pb-6 xl:pb-9">
          <div class="container max-w-xl">
              <div class="section-inner panel">
                  <div class="block-panel panel" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
                      <div class="element-brands max-w-950px m-auto text-gray-900 dark:text-white">
                          <div class="swiper" data-uc-swiper="items: 2; center: true; center-bounds: true;" data-uc-swiper-s="items: 4; center: false; center-bounds: false;" data-uc-swiper-m="items: 5; gap: 80;">
                              <div class="swiper-wrapper items-center ease-linear">
                                  <div class="brand-item swiper-slide text-center">
                                      <img class="brand-item-image h-40px" src="https://unistudio.co/html/lexend/assets/images/brands/brand-01.svg" alt="Proline" data-uc-svg>
                                  </div>
                                  <div class="brand-item swiper-slide text-center">
                                      <img class="brand-item-image h-40px" src="https://unistudio.co/html/lexend/assets/images/brands/brand-02.svg" alt="Iceberg" data-uc-svg>
                                  </div>
                                  <div class="brand-item swiper-slide text-center">
                                      <img class="brand-item-image h-40px" src="https://unistudio.co/html/lexend/assets/images/brands/brand-03.svg" alt="PinPoint" data-uc-svg>
                                  </div>
                                  <div class="brand-item swiper-slide text-center">
                                      <img class="brand-item-image h-40px" src="https://unistudio.co/html/lexend/assets/images/brands/brand-04.svg" alt="Clues" data-uc-svg>
                                  </div>
                                  <div class="brand-item swiper-slide text-center">
                                      <img class="brand-item-image h-40px" src="https://unistudio.co/html/lexend/assets/images/brands/brand-05.svg" alt="Snowflake" data-uc-svg>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Section end -->

  <!-- Section start -->
  <div id="about_us" class="about-us section panel overflow-hidden" data-anime="onview: -100; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
      <div class="section-outer panel py-6 xl:py-9 bg-secondary dark:bg-gray-800">
          <div class="d-none lg:d-block" data-anime="onview: -100; targets: img; scale: [0.8, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 350;">
              <div class="position-absolute bottom-0 start-0 ms-n8 mb-6">
                  <img class="w-150px xl:w-250px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/walking.svg" alt="walking">
                  <img class="w-150px xl:w-250px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/walking-dark.svg" alt="walking-dark">
              </div>
          </div>
          <div class="container max-w-lg">
              <div class="section-inner panel">
                  <div class="panel vstack text-center" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                      <h2 class="h3 lg:h2 mb-4">How Lexend helps</h2>
                      <p class="fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Teams use Lexend to improve document workflows, insights, and speed while delivering an amazing experience for their customers. Businesses trust Lexend’s all-in-one document automation software to streamline the process to create, approve, and eSign proposals, quotes, contracts, and more. With powerful document creation and workflow capabilities, teams can provide their customers with a more professional, timely, and engaging experience.</p>
                      <p class="fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">In 2014, Steven Smith have gotten so much of our time back that we're now able to put towards things that are actually helping our company as opposed to just throwing content out there. and the idea of Lexend was born. Today, Lexend empowers teams to easily communicate with customers through personalized documents that can be created in minutes, build meaningful relationships..</p>
                      <div class="panel mt-6">
                          <div class="row child-cols-6 lg:child-cols-4 justify-center g-3 col-match">
                              <div>
                                  <div class="panel vstack gap-1">
                                      <h4 class="h2 xl:h1 m-0"><span data-anime="onview: -100; textContent: 2014; round: 1; easing: linear; duration: 1200;">0</span></h4>
                                      <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">Lexend founded.</p>
                                  </div>
                              </div>
                              <div>
                                  <div class="panel vstack gap-1">
                                      <h4 class="h2 xl:h1 m-0"><span data-anime="onview: -100; textContent: [0, 50]; round: 1; easing: linear; duration: 1200;">0</span></h4>
                                      <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">Hardworking group.</p>
                                  </div>
                              </div>
                              <div>
                                  <div class="panel vstack gap-1">
                                      <h4 class="h2 xl:h1 m-0"><span data-anime="onview: -100; textContent: [0, 100]; round: 1; easing: linear; duration: 1200;">0</span>k</h4>
                                      <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70 text-nowrap">Document workflows.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Section end -->

  <!-- Section start -->
  <div id="about_values" class="about-values section panel overflow-hidden">
      <div class="section-outer panel py-6 xl:py-9">
          <div class="container max-w-lg">
              <div class="section-inner panel">
                  <div class="panel vstack gap-4 sm:gap-6 xl:gap-8">
                      <h2 class="h4 sm:h3 lg:h2 m-0 text-center" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">Our Values it’s Simple!</h2>
                      <div class="row child-cols-12 sm:child-cols-6 g-2 lg:g-4 justify-between" data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                          <div>
                              <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-800">
                                  <img class="w-64px lg:w-80px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/icon-diamond.svg" alt="impact-icon">
                                  <img class="w-64px lg:w-80px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/icon-diamond-dark.svg" alt="impact-icon">
                                  <h5 class="h5 lg:h4 m-0">Make an impact</h5>
                                  <p class="fs-6 opacity-70 dark:opacity-80">We’re building something big. Something that has the power to change the trajectory of any sized business for the better.</p>
                              </div>
                          </div>
                          <div>
                              <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-800">
                                  <img class="w-64px lg:w-80px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/icon-trophy.svg" alt="crown-icon">
                                  <img class="w-64px lg:w-80px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/icon-trophy-dark.svg" alt="crown-icon">
                                  <h5 class="h5 lg:h4 m-0">Learn</h5>
                                  <p class="fs-6 opacity-70 dark:opacity-80">Lexend team are masters of their craft. Even though we’re all experts in our respective fields, we always make time to expand our minds.</p>
                              </div>
                          </div>
                          <div>
                              <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-800">
                                  <img class="w-64px lg:w-80px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/icon-globe.svg" alt="fun-icon">
                                  <img class="w-64px lg:w-80px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/icon-globe-dark.svg" alt="fun-icon">
                                  <h5 class="h5 lg:h4 m-0">Have fun</h5>
                                  <p class="fs-6 opacity-70 dark:opacity-80">We work hard and play harder. We believe in the importance of celebrating wins big or small, for the business or individuals.</p>
                              </div>
                          </div>
                          <div>
                              <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-800">
                                  <img class="w-64px lg:w-80px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/icon-crown.svg" alt="empathy-icon">
                                  <img class="w-64px lg:w-80px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/icon-crown-dark.svg" alt="empathy-icon">
                                  <h5 class="h5 lg:h4 m-0">Empathy</h5>
                                  <p class="fs-6 opacity-70 dark:opacity-80">We strive to be empathetic to every customer and colleague and by doing so we can provide a better experience for all.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Section end -->

  <!-- Section start -->
  <div id="clients_feedbacks" class="clients-feedbacks section panel overflow-hidden">
      <div class="section-outer panel pb-6 xl:pb-9">
          <div class="container max-w-lg">
              <div class="section-inner panel">
                  <div class="panel vstack justify-center items-center gap-4 sm:gap-6 xl:gap-8" data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                      <h2 class="h4 sm:h3 lg:h2 m-0 text-center">Some clients feedbacks</h2>
                      <div class="row child-cols-12 sm:child-cols-6 xl:child-cols-4 justify-center col-match g-2 lg:g-3" data-uc-grid>
                          <div>
                              <div class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 rounded-2 border">
                                  <div class="panel vstack items-start gap-2">
                                      <div class="panel">
                                          <div class="hstack h-48px">
                                              <img class="w-128px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/brands/brand-07.svg" alt="Brand" data-uc-svg>
                                          </div>
                                      </div>
                                      <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“We’re looking for people who share our vision! most of our time used to be taken up by most of alternate administrative work whereas now we can focus on building out to help our employees.”</p>
                                  </div>
                                  <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                      <img class="w-40px rounded-circle" src="../assets/images/avatars/01.png" alt="Mark Zellers">
                                      <div class="panel vstack items-start gap-0">
                                          <h6 class="h6 m-0">Mark Zellers</h6>
                                          <span class="fs-7 opacity-70">CEO, Co-Founder.</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <div class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 rounded-2 border">
                                  <div class="panel vstack items-start gap-2">
                                      <div class="panel">
                                          <div class="hstack h-48px">
                                              <img class="w-128px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/brands/brand-06.svg" alt="Brand" data-uc-svg>
                                          </div>
                                      </div>
                                      <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“This powerfull tool eliminates the need to leave Salesforce to get things done as I can create a custom proposal with dynamic pricing tables, and get approval from my boss all within 36 minutes.”</p>
                                  </div>
                                  <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                      <img class="w-40px rounded-circle" src="../assets/images/avatars/04.png" alt="Natalia Larsson">
                                      <div class="panel vstack items-start gap-0">
                                          <h6 class="h6 m-0">Natalia Larsson</h6>
                                          <span class="fs-7 opacity-70">Director of Sales</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <div class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 rounded-2 border">
                                  <div class="panel vstack items-start gap-2">
                                      <div class="panel">
                                          <div class="hstack h-48px">
                                              <img class="w-128px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/brands/brand-08.svg" alt="Brand" data-uc-svg>
                                          </div>
                                      </div>
                                      <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“We are based in Europe and the latest Data Protection Regulation forces us to look for service suppliers than comply with this regulation and as we look to create our website and this builder just outstanding!”</p>
                                  </div>
                                  <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                      <img class="w-40px rounded-circle" src="../assets/images/avatars/03.png" alt="Sarah Edrissi">
                                      <div class="panel vstack items-start gap-0">
                                          <h6 class="h6 m-0">Sarah Edrissi</h6>
                                          <span class="fs-7 opacity-70">Lead Marketing</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <a href="#" class="uc-link fw-bold d-inline-flex items-center gap-narrow">
                          <span>See all feedbacks</span>
                          <i class="icon icon-1 unicon-arrow-right rtl:rotate-180"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Section end -->

  <!-- Section start -->
  <div id="about-timeline" class="about-timeline section panel overflow-hidden bg-secondary dark:bg-gray-800">
      <div class="section-outer panel py-6 xl:py-9">
          <div class="container max-w-lg">
              <div class="section-inner panel">
                  <div class="panel vstack justify-center items-center gap-4 sm:gap-6 xl:gap-8">
                      <h2 class="h4 sm:h3 lg:h2 m-0 text-center" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">How we got here</h2>
                      <div class="panel w-100 swiper-parent">
                          <div class="swiper-timeline swiper swiper-container overflow-unset" data-uc-swiper="items: 1; gap: 0; dots: .swiper-pagination; disable-class: d-none; center: true; center-bounding: true;" data-uc-swiper-s="items: 2;" data-uc-swiper-m="items: 3;">
                              <div class="swiper-wrapper" data-anime="onview: -100; targets: > *; translateX: [100, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                  <div class="swiper-slide panel">
                                      <div class="timeline-box panel vstack items-center gap-9 text-center">
                                          <div class="image-wrap panel overflow-hidden w-200px">
                                              <img class="image w-100 origin-bottom" src="../assets/images/template/timeline-01.png" alt="Where the idea come up of Lexend :)">
                                          </div>
                                          <div class="content panel vstack items-center px-3 xl:px-6">
                                              <h3 class="title h4 sm:h3 dark:text-white">2014</h3>
                                              <p class="desc fs-6 xl:fs-5 opacity-70 dark:text-white">Where the idea come up of Lexend :)</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide panel">
                                      <div class="timeline-box panel vstack items-center gap-9 text-center">
                                          <div class="image-wrap panel overflow-hidden w-200px">
                                              <img class="image w-100 origin-bottom" src="../assets/images/template/timeline-02.png" alt="Launched our first business that can be created in minutes, build meaningful relationships.">
                                          </div>
                                          <div class="content panel vstack items-center px-3 xl:px-6">
                                              <h3 class="title h4 sm:h3 dark:text-white">2015</h3>
                                              <p class="desc fs-6 xl:fs-5 opacity-70 dark:text-white">Launched our first business that can be created in minutes, build meaningful relationships.</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide panel">
                                      <div class="timeline-box panel vstack items-center gap-9 text-center">
                                          <div class="image-wrap panel overflow-hidden w-200px">
                                              <img class="image w-100 origin-bottom" src="../assets/images/template/timeline-03.png" alt="Opened our new office in Toronto, CA">
                                          </div>
                                          <div class="content panel vstack items-center px-3 xl:px-6">
                                              <h3 class="title h4 sm:h3 dark:text-white">2016</h3>
                                              <p class="desc fs-6 xl:fs-5 opacity-70 dark:text-white">Opened our new office in Toronto, CA</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide panel">
                                      <div class="timeline-box panel vstack items-center gap-9 text-center">
                                          <div class="image-wrap panel overflow-hidden w-200px">
                                              <img class="image w-100 origin-bottom" src="../assets/images/template/timeline-04.png" alt="Moved to Silicon Valley whereas now we can focus on building out to help our employees.">
                                          </div>
                                          <div class="content panel vstack items-center px-3 xl:px-6">
                                              <h3 class="title h4 sm:h3 dark:text-white">2019</h3>
                                              <p class="desc fs-6 xl:fs-5 opacity-70 dark:text-white">Moved to Silicon Valley whereas now we can focus on building out to help our employees.</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide panel">
                                      <div class="timeline-box panel vstack items-center gap-9 text-center">
                                          <div class="image-wrap panel overflow-hidden w-200px">
                                              <img class="image w-100 origin-bottom" src="../assets/images/template/timeline-05.png" alt="Opened a new office in London, UK.">
                                          </div>
                                          <div class="content panel vstack items-center px-3 xl:px-6">
                                              <h3 class="title h4 sm:h3 dark:text-white">2020</h3>
                                              <p class="desc fs-6 xl:fs-5 opacity-70 dark:text-white">Opened a new office in London, UK.</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide panel">
                                      <div class="timeline-box panel vstack items-center gap-9 text-center">
                                          <div class="image-wrap panel overflow-hidden w-200px">
                                              <img class="image w-100 origin-bottom" src="../assets/images/template/timeline-06.png" alt="Top-rated software solution for service suppliers.">
                                          </div>
                                          <div class="content panel vstack items-center px-3 xl:px-6">
                                              <h3 class="title h4 sm:h3 dark:text-white">Today</h3>
                                              <p class="desc fs-6 xl:fs-5 opacity-70 dark:text-white">Top-rated software solution for service suppliers.</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Section end -->

  <!-- Section start -->
  <div id="about-team" class="about-team section panel overflow-hidden">
      <div class="section-outer panel py-6 xl:py-9">
          <div class="container max-w-lg">
              <div class="section-inner panel">
                  <div class="panel vstack justify-center items-center gap-4 sm:gap-6 xl:gap-8" data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                      <h2 class="h4 sm:h3 lg:h2 m-0 text-center">Our Executive Team</h2>
                      <div class="row child-cols-6 sm:child-cols-4 lg:child-cols-3 col-match gx-2 lg:gx-4 gy-4 lg:gy-6" data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});" data-uc-grid>
                          <div>
                              <div class="panel vstack gap-2">
                                  <img class="w-100 rounded" src="../assets/images/template/team-01.jpg" alt="Mark Zellers">
                                  <div class="panel vstack items-start gap-0">
                                      <h6 class="h6 m-0">Mark Zellers</h6>
                                      <span class="fs-7 opacity-70">Founder & CEO</span>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <div class="panel vstack gap-2">
                                  <img class="w-100 rounded" src="../assets/images/template/team-02.jpg" alt="John Zellers">
                                  <div class="panel vstack items-start gap-0">
                                      <h6 class="h6 m-0">John Zellers</h6>
                                      <span class="fs-7 opacity-70">Co-Founder</span>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <div class="panel vstack gap-2">
                                  <img class="w-100 rounded" src="../assets/images/template/team-03.jpg" alt="Kim Yun Son">
                                  <div class="panel vstack items-start gap-0">
                                      <h6 class="h6 m-0">Kim Yun Son</h6>
                                      <span class="fs-7 opacity-70">Engineering Manager</span>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <div class="panel vstack gap-2">
                                  <img class="w-100 rounded" src="../assets/images/template/team-04.jpg" alt="André Garcia">
                                  <div class="panel vstack items-start gap-0">
                                      <h6 class="h6 m-0">André Garcia</h6>
                                      <span class="fs-7 opacity-70">Product Manager</span>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <div class="panel vstack gap-2">
                                  <img class="w-100 rounded" src="../assets/images/template/team-05.jpg" alt="Peter Lary">
                                  <div class="panel vstack items-start gap-0">
                                      <h6 class="h6 m-0">Peter Lary</h6>
                                      <span class="fs-7 opacity-70">UX Researcher</span>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <div class="panel vstack gap-2">
                                  <img class="w-100 rounded" src="../assets/images/template/team-06.jpg" alt="Henry Matt">
                                  <div class="panel vstack items-start gap-0">
                                      <h6 class="h6 m-0">Henry Matt</h6>
                                      <span class="fs-7 opacity-70">Customer Success</span>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <div class="panel vstack gap-2">
                                  <img class="w-100 rounded" src="../assets/images/template/team-07.jpg" alt="Natalia">
                                  <div class="panel vstack items-start gap-0">
                                      <h6 class="h6 m-0">Natalia</h6>
                                      <span class="fs-7 opacity-70">Lead of fun</span>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <div class="panel vstack gap-2">
                                  <img class="w-100 rounded" src="../assets/images/template/team-08.jpg" alt="Larry">
                                  <div class="panel vstack items-start gap-0">
                                      <h6 class="h6 m-0">Larry</h6>
                                      <span class="fs-7 opacity-70">Director of Joy</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Section end -->

  <!-- Section start -->
  <div id="cta" class="cta section panel overflow-hidden" data-anime="onview:-100; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 200;">
      <div class="section-outer panel py-4 sm:py-6 xl:py-9 bg-secondary dark:bg-gray-800">
          <div class="d-none lg:d-block" data-anime="onview: -100; targets: img; scale: [0.8, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 350;">
              <div class="position-absolute top-50 start-0 translate-middle-y ms-n6">
                  <img class="w-200px xl:w-250px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/thinking.svg" alt="thinking">
                  <img class="w-200px xl:w-250px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/thinking-dark.svg" alt="thinking-dark">
              </div>
              <div class="position-absolute top-50 end-0 translate-middle-y me-n6">
                  <img class="w-200px xl:w-250px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/send-message.svg" alt="send-message">
                  <img class="w-200px xl:w-250px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/send-message-dark.svg" alt="send-message-dark">
              </div>
          </div>
          <div class="d-none lg:d-block" data-anime="targets: >*; scale: [0, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 750});">
              <div class="position-absolute bottom-0 start-0 rotate-45" style="bottom: 30% !important; left: 24% !important">
                  <img class="w-24px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/template/star-2.svg" alt="star-2" data-uc-svg>
              </div>
              <div class="position-absolute top-0 end-0 rotate-45" style="top: 50% !important; right: 21% !important">
                  <img class="w-32px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/template/star-1.svg" alt="star-1" data-uc-svg>
              </div>
          </div>
          <div class="container max-w-xl">
              <div class="section-inner panel">
                  <div class="vstack items-center gap-2 sm:gap-3 max-w-550px mx-auto text-center" data-anime="onview:-100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                      <h2 class="h3 sm:h1 m-0">We’re looking for people who share our vision!</h2>
                      <p class="fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Have what it takes to be one of us.</p>
                      <a class='btn btn-md lg:btn-lg btn-primary text-white mt-1 xl:mt-2' href='page-career.html'>View current openings</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Section end -->
</div>
<%- include('footer') %>
