
<%- include('header'), {seoDetails} %>
<style>
    .imagetext{
        position: absolute;
    width: 100%;
    margin-top: -100px;
    display: flex;
    margin-left:-59px;

   
    justify-content:center;
    }

.padding-60{
    padding: 60px;
}


.rounded-11{
    border-radius: 11px;
}
    video{
        aspect-ratio: 1;
    }

    .feature-item ul{
        padding-left: 20px !important;
        font-size: 16px !important;
    }

    .imagetext img, .imageimage img{
        max-height: 60px;
    }

    .imageimage{
        position: absolute;
    width: 100%;
    top: 30px;
    display: flex
;
    align-items: center;
    justify-content: center;
    }

    
    p{
        font-family: "graphik",sans-serif;
    }


    @media (max-width:600px) {
        .padding-60{
            padding: 30px;
        }
        .imagetext{
          
        margin-left:-30px;
        }
        .imageimage{
            
        top: 10px;
    
    ;
       ;
        }
    
    }
</style>
<div id="wrapper" class="wrap">

    <!-- Section start -->
    <div id="hero_header" class="hero-header section panel overflow-hidden">
        <div class="position-absolute top-0 start-0 end-0 min-h-screen overflow-hidden d-none lg:d-block" data-anime="targets: >*; scale: [0, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 750});">
            <div class="position-absolute top-0 start-0 rotate-45" style="top: 30% !important; left: 18% !important">
                <img class="w-32px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/template/star-1.svg" alt="star-1" data-uc-svg>
            </div>
            <div class="position-absolute top-0 end-0 rotate-45" style="top: 15% !important; right: 18% !important">
                <img class="w-24px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/template/star-2.svg" alt="star-2" data-uc-svg>
            </div>
        </div>
        <div class="section-outer panel pt-9 lg:pt-10 pb-6 xl:pb-9">
            <div class="container max-w-lg">
                <div class="section-inner panel mt-2 sm:mt-4 lg:mt-0">
                    <div class="panel vstack items-center gap-3 lg:gap-4 mb-6 sm:mb-8 lg:mb-9 max-w-650px mx-auto text-center" data-anime="targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                        <h1 class="h2 sm:h1 lg:display-6 xl:display-5 m-0">Discover Your Creative 
                            Path in Design</h1>
                        <p class="fs-6 sm:fs-5 text-dark dark:text-white text-opacity-70">Explore our courses that help unlock your creative potential and 
                            build a successful design career
                            </p>
                    </div>
                    <div class="sticky-scene panel vstack gap-4 sm:gap-6 xl:gap-8">


                        
                        <div class="feature-item panel px-3 lg:px-4 py-3 rounded-2 bg-secondary dark:bg-gray-800" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                            <div class="row child-cols col-match justify-between g-4 lg:g-8 xl:g-10">
                                <div class="order-0 lg:order-1">
                                    <div class="panel w-100 padding-60 rounded-11 lg:rounded-2 overflow-hidden" style="
                                position:relative;   background: #F9E9BF;
     max-height:465px">
                                        <video style="height: 100%;
                                         border-radius:10px !important;
                                        box-shadow: 0px 4px 10px #00000036;
    object-fit: cover;" autoplay loop muted playsinline class="w-100 h-auto object-cover rounded">
                                            <source src="/assets/images/fashion.mp4" type="video/mp4">
                                            Your browser does not support the video tag.
                                          </video>
                                          <div class="imagetext">
                                          <img src="/assets/images/fashiondesigning.png"  alt="img"></div>
                                    </div>
                                </div>                                
                                <div class="order-1 lg:order-0 col-12 sm:col-5">
                                    <div class="panel vstack justify-center gap-4 h-100">
                                        <div>
                                            <div class="panel vstack gap-2">
                                                <span class="fs-6 fw-bold m-0 text-primary">01.</span>
                                                <h3 class="h4 lg:h2 m-0">Fashion Designing</h3>
                                                <ul class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                    <li>Unleash your creativity and shape the future of style.</li>
                                                      <li>Master garment design, fashion styling, and trend forecasting.</li>  
                                                     <li> Learn from industry experts and build a standout portfolio.</li>  
                                                     <li>Step confidently into the world of fashion.</li>
                                                </ul>
                                                
                                                <a href="/fashion-designing" class="uc-link fw-bold hstack gap-narrow mt-2 sm:mt-1 lg:mt-2">
                                                    <span>Explore Course</span>
                                                    <i class="position-relative icon icon-1 fas fa-arrow-right rtl:rotate-180 translate-y-px"></i>
                                                </a>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="feature-item panel px-3 lg:px-4 py-3 rounded-2 bg-secondary dark:bg-gray-800" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                            <div class="row child-cols col-match justify-between g-4 lg:g-8 xl:g-10">
                                <div class="order-0 lg:order-1">
                                    <div class="panel padding-60 w-100  rounded-11 lg:rounded-2 overflow-hidden" style="
                                position:relative;     background: #D3E1DF;
     max-height:465px">
                                        <video style="height: 100%;
                                        border-radius:10px !important;
                                        box-shadow: 0px 4px 10px #00000036;
    object-fit: cover;" autoplay loop muted playsinline class="w-100 h-auto object-cover rounded">
                                            <source src="/assets/images/interior.mp4" type="video/mp4">
                                            Your browser does not support the video tag.
                                          </video>
                                          <div class="imagetext">
                                          <img src="/assets/images/interiordesigning.png"  alt="img"></div>
                                    </div>
                                </div>                                
                                <div class="order-1 lg:order-0 col-12 sm:col-5">
                                    <div class="panel vstack justify-center gap-4 h-100">
                                        <div>
                                            
                                            <div class="panel vstack gap-2">
                                                <span class="fs-6 fw-bold m-0 text-primary">02.</span>
                                                <h3 class="h4 lg:h2 m-0">Interior Designing</h3>
                                                <ul class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                    <li>Turn empty spaces into inspiring environments.</li>
                                                      <li>Learn space planning, materials, and modern design techniques.</li>  
                                                     <li>Work on live projects with expert guidance.</li>  
                                                     <li>Transform interiors with creativity and purpose.</li>
                                                </ul>
                                                
                                                <a href="/interior-designing" class="uc-link fw-bold hstack gap-narrow mt-2 sm:mt-1 lg:mt-2">
                                                    <span>Explore Course</span>
                                                    <i class="position-relative icon icon-1 fas fa-arrow-right rtl:rotate-180 translate-y-px"></i>
                                                </a>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                       
                        <div class="feature-item panel px-3 lg:px-4 py-3 rounded-2 bg-secondary dark:bg-gray-800" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                            <div class="row child-cols col-match justify-between g-4 lg:g-8 xl:g-10">
                                <div class="order-0 lg:order-1">
                                    <div class="panel w-100  rounded-11 lg:rounded-2 overflow-hidden" style="
                                position:relative;    background: #F9E9BF;
     max-height:465px">
    <img src="/assets/images/graphicdesigning.png"  alt="img">
    <div class="imageimage">
        <img src="/assets/images/gdtext.png"  alt="img"></div>
                                       
                                    </div>
                                </div>                                
                                <div class="order-1 lg:order-0 col-12 sm:col-5">
                                    <div class="panel vstack justify-center gap-4 h-100">
                                        <div>
                                            
                                            <div class="panel vstack gap-2">
                                                <span class="fs-6 fw-bold m-0 text-primary">03.</span>
                                                <h3 class="h4 lg:h2 m-0">Graphic Designing</h3>
                                                <ul class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                    <li>Transform ideas into compelling visual stories.</li>
                                                      <li>Master design software, branding, and layout skills.</li>  
                                                     <li>Work on real-world campaigns and creative briefs.</li>  
                                                     <li>Build a portfolio that speaks through visuals.</li>
                                                </ul>
                                                
                                                <a href="graphic-designing" class="uc-link fw-bold hstack gap-narrow mt-2 sm:mt-1 lg:mt-2">
                                                    <span>Explore Course</span>
                                                    <i class="position-relative icon icon-1 fas fa-arrow-right rtl:rotate-180 translate-y-px"></i>
                                                </a>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



 
                        <div class="feature-item panel px-3 lg:px-4 py-3 rounded-2 bg-secondary dark:bg-gray-800" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                            <div class="row child-cols col-match justify-between g-4 lg:g-8 xl:g-10">
                                <div class="order-0 lg:order-1">
                                    <div class="panel w-100  rounded-11 lg:rounded-2 overflow-hidden" style="
                                position:relative;    background: #DFD1F2;
     max-height:465px">
    <img src="/assets/images/uiuxdesigning.png"  alt="img">
                                       
                                    </div>
                                </div>                                
                                <div class="order-1 lg:order-0 col-12 sm:col-5">
                                    <div class="panel vstack justify-center gap-4 h-100">
                                        <div>
                                            <div class="panel vstack gap-2">
                                                <span class="fs-6 fw-bold m-0 text-primary">06.</span>
                                                <h3 class="h4 lg:h2 m-0">UI/UX Designing</h3>
                                                <ul class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                    <li>Design user-friendly digital experiences that people love.</li>
                                                      <li>Learn wireframing, prototyping, and interface design.</li>  
                                                     <li>Master industry tools like Figma and Adobe XD.</li>  
                                                     <li>Build sleek, functional products with user-first thinking.</li>
                                                </ul>
                                                
                                                <a href="/uiux-designing" class="uc-link fw-bold hstack gap-narrow mt-2 sm:mt-1 lg:mt-2">
                                                    <span>Explore Course</span>
                                                    <i class="position-relative icon icon-1 fas fa-arrow-right rtl:rotate-180 translate-y-px"></i>
                                                </a>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="feature-item panel px-3 lg:px-4 py-3 rounded-2 bg-secondary dark:bg-gray-800" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                            <div class="row child-cols col-match justify-between g-4 lg:g-8 xl:g-10">
                                <div class="order-0 lg:order-1">
                                    <div class="panel w-100 padding-60  rounded-11 lg:rounded-2 overflow-hidden" style="
                                position:relative;    background: #F9E9BF;
     max-height:465px">
                                        <video style="height: 100%;
                                         border-radius:10px !important;
                                        box-shadow: 0px 4px 10px #00000036;
    object-fit: cover;" autoplay loop muted playsinline class="w-100 h-auto object-cover rounded">
                                            <source src="/assets/images/photography.mp4" type="video/mp4">
                                            Your browser does not support the video tag.
                                          </video>
                                          <div class="imagetext">
                                          <img src="/assets/images/phototext.png"  alt="img"></div>
                                    </div>
                                </div>                                
                                <div class="order-1 lg:order-0 col-12 sm:col-5">
                                    <div class="panel vstack justify-center gap-4 h-100">
                                        <div>
                                            <div class="panel vstack gap-2">
                                                <span class="fs-6 fw-bold m-0 text-primary">05.</span>
                                                <h3 class="h4 lg:h2 m-0">Photography</h3>
                                                <ul class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                      <li>Capture moments that tell powerful stories.</li>
                                                      <li>Learn composition, lighting, and post-editing techniques.</li>  
                                                     <li> Explore fashion, wildlife, product, and portrait photography.</li>  
                                                     <li>Sharpen your visual storytelling with expert mentors.</li>
                                                </ul>
                                                
                                                <a href="/photography" class="uc-link fw-bold hstack gap-narrow mt-2 sm:mt-1 lg:mt-2">
                                                    <span>Explore Course</span>
                                                    <i class="position-relative icon icon-1 fas fa-arrow-right rtl:rotate-180 translate-y-px"></i>
                                                </a>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        
                        <div class="feature-item panel px-3 lg:px-4 py-3 rounded-2 bg-secondary dark:bg-gray-800" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                            <div class="row child-cols col-match justify-between g-4 lg:g-8 xl:g-10">
                                <div class="order-0 lg:order-1">
                                    <div class="panel w-100 padding-60 rounded-11 lg:rounded-2 overflow-hidden" style="
                                position:relative;    background: #D3E1DF;
    max-height:465px">
                                        <video style="height: 100%;
                                         border-radius:10px !important;
                                        box-shadow: 0px 4px 10px #00000036;
    object-fit: cover;" autoplay loop muted playsinline class="w-100 h-auto object-cover rounded">
                                            <source src="/assets/images/event.mp4" type="video/mp4">
                                            Your browser does not support the video tag.
                                          </video>
                                          <div class="imagetext">
                                          <img src="/assets/images/eventtext.png"  alt="img"></div>
                                    </div>
                                </div>                                
                                <div class="order-1 lg:order-0 col-12 sm:col-5">
                                    <div class="panel vstack justify-center gap-4 h-100">
                                        <div>
                                            <div class="panel vstack gap-2">
                                                <span class="fs-6 fw-bold m-0 text-primary">06.</span>
                                                <h3 class="h4 lg:h2 m-0">Event Management</h3>
                                                  <ul class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                      <li>Plan and execute unforgettable experiences.</li>
                                                      <li>Learn budgeting, logistics, and creative production.</li>  
                                                     <li>Get hands-on with weddings, corporate events, and shows.</li>  
                                                     <li>Master the art of planning from concept to curtain.</li>
                                                </ul>
                                                
                                                <a href="/event-management" class="uc-link fw-bold hstack gap-narrow mt-2 sm:mt-1 lg:mt-2">
                                                    <span>Explore Course</span>
                                                    <i class="position-relative icon icon-1 fas fa-arrow-right rtl:rotate-180 translate-y-px"></i>
                                                </a>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>





                       



                        
                        <div class="feature-item panel px-3 lg:px-4 py-3 rounded-2 bg-secondary dark:bg-gray-800" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                            <div class="row child-cols col-match justify-between g-4 lg:g-8 xl:g-10">
                                <div class="order-0 lg:order-1">
                                    <div class="panel w-100  rounded-11 lg:rounded-2 overflow-hidden" style="
                                    position:relative;     background: #F9E9BF;
         max-height:465px">
        <img src="/assets/images/digitalmarketing.png"  alt="img">
                                           
                                        </div>
                                </div>                                
                                <div class="order-1 lg:order-0 col-12 sm:col-5">
                                    <div class="panel vstack justify-center gap-4 h-100">
                                        <div>
                                            <div class="panel vstack gap-2">
                                                <span class="fs-6 fw-bold m-0 text-primary">07.</span>
                                                <h3 class="h4 lg:h2 m-0">Digital Marketing</h3>
                                                <ul class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                     <li>Grow brands in the digital world with powerful strategies.</li>
                                                      <li>Learn SEO, social media, content, and performance marketing.</li>  
                                                     <li>Work on campaigns and analytics with real tools.</li>  
                                                     <li>Launch your career in the booming digital space.</li>
                                                </ul>
                                                
                                                <a href="/digital-marketing" class="uc-link fw-bold hstack gap-narrow mt-2 sm:mt-1 lg:mt-2">
                                                    <span>Explore Course</span>
                                                    <i class="position-relative icon icon-1 fas fa-arrow-right rtl:rotate-180 translate-y-px"></i>
                                                </a>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>





                        
                        <div class="feature-item panel px-3 lg:px-4 py-3 rounded-2 bg-secondary dark:bg-gray-800" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                            <div class="row child-cols col-match justify-between g-4 lg:g-8 xl:g-10">
                                <div class="order-0 lg:order-1">
                                    <div class="panel w-100  rounded-11 lg:rounded-2 overflow-hidden" style="
                                position:relative;    background: #DFD1F2;
    padding: 59px 75px; max-height:465px">
                                        <video style="height: 100%;
                                         border-radius:10px !important;
                                        box-shadow: 0px 4px 10px #00000036;
    object-fit: cover;" autoplay loop muted playsinline class="w-100 h-auto object-cover rounded">
                                            <source src="/assets/images/animation.mp4" type="video/mp4">
                                            Your browser does not support the video tag.
                                          </video>
                                         
                                    </div>
                                </div>                                
                                <div class="order-1 lg:order-0 col-12 sm:col-5">
                                    <div class="panel vstack justify-center gap-4 h-100">
                                        <div>
                                            <div class="panel vstack gap-2">
                                                <span class="fs-6 fw-bold m-0 text-primary">08.</span>
                                                <h3 class="h4 lg:h2 m-0">Animation Designing</h3>
                                                <ul class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                     <li>Bring imagination to life through movement and storytelling.</li>
                                                      <li>Master 2D/3D animation, visual effects, and motion graphics.</li>  
                                                     <li>Learn industry software and pipeline workflows.</li>  
                                                     <li>Animate ideas across games, films, and digital platforms.</li>
                                                </ul>
                                                
                                                <a href="/animation-designing" class="uc-link fw-bold hstack gap-narrow mt-2 sm:mt-1 lg:mt-2">
                                                    <span>Explore Course</span>
                                                    <i class="position-relative icon icon-1 fas fa-arrow-right rtl:rotate-180 translate-y-px"></i>
                                                </a>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section end -->

    <!-- Section start -->
    <div id="key_features" style="background-color: #19182c; margin-bottom:80px" class="key-features section panel overflow-hidden  uc-dark">
        <div style="background-color: #19182c;" class="section-outer panel py-6 xl:py-9 ">
            <div class="container sm:max-w-md lg:max-w-lg">
                <div class="section-inner panel">
                    <div class="panel vstack gap-4 sm:gap-6 xl:gap-8">
                        <h2 class="title h3 lg:h2 xl:h1 m-0 text-center max-w-870px mx-auto" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">Experience. Exposure. <span class="text-primary">Excellence.</span></h2>
                        <div class="panel">
                            <div class="row child-cols-12 sm:child-cols-6 lg:child-cols-4 col-match g-3" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                <div>
                                    <div class="feature-item panel p-4 border rounded hover:bg-white dark:hover:bg-primary dark:text-white hover:scale-105 duration-150 transition-all">
                                        <div class="vstack panel min-h-250px">
                                            
                                            <div class="vstack justify-between gap-2 h-100">
                                                <img style="height: 50px ; width:50px" src="/assets/images/hub.png" alt="icon">
                                                <div class="panel">
                                                    <div class="vstack gap-1">
                                                        <h3 class="title h5 m-0 text-inherit">75+ National Centers</h3>
                                                        <p class="desc fs-6 opacity-70">Access quality education through our widespread network of 75+ learning centers across India, built for convenience and consistency.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div>
                                    <div class="feature-item panel p-4 border rounded hover:bg-white dark:hover:bg-primary dark:text-white hover:scale-105 duration-150 transition-all">
                                        <div class="vstack panel min-h-250px">
                                           
                                            <div class="vstack justify-between gap-2 h-100">
                                                <img style="height: 50px ; width:50px" src="/assets/images/worldwide.png" alt="icon">
                                                <div class="panel">
                                                    <div class="vstack gap-1">
                                                        <h3 class="title h5 m-0 text-inherit">7+ International Centers</h3>
                                                        <p class="desc fs-6 opacity-70">Experience a global standard of education at our 7+ international centers, designed to give students a competitive edge worldwide</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div>
                                    <div class="feature-item panel p-4 border rounded hover:bg-white dark:hover:bg-primary dark:text-white hover:scale-105 duration-150 transition-all">
                                        <div class="vstack panel min-h-250px">
                                            
                                            <div class="vstack justify-between gap-2 h-100">
                                                <img style="height: 50px ; width:50px" src="/assets/images/self-confidence.png" alt="icon">
                                                <div class="panel">
                                                    <div class="vstack gap-1">
                                                        <h3 class="title h5 m-0 text-inherit">Expert Guidance</h3>
                                                        <p class="desc fs-6 opacity-70">Learn from industry veterans, global educators, and domain specialists who bring practical insights and mentorship to every session.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div>
                                    <div class="feature-item panel p-4 border rounded hover:bg-white dark:hover:bg-primary dark:text-white hover:scale-105 duration-150 transition-all">
                                        <div class="vstack panel min-h-250px">
                                            
                                            <div class="vstack justify-between gap-2 h-100">
                                                <img style="height: 50px ; width:50px" src="/assets/images/connect.png" alt="icon">
                                                <div class="panel">
                                                    <div class="vstack gap-1">
                                                        <h3 class="title h5 m-0 text-inherit">Workshops & Industry Connect</h3>
                                                        <p class="desc fs-6 opacity-70">Participate in hands-on workshops and interact with top professionals through panel discussions, guest lectures, and networking sessions.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="feature-item panel p-4 border rounded hover:bg-white dark:hover:bg-primary dark:text-white hover:scale-105 duration-150 transition-all">
                                        <div class="vstack panel min-h-250px">
                                           
                                            <div class="vstack justify-between gap-2 h-100">
                                                <img style="height: 50px ; width:50px" src="/assets/images/job-offer.png" alt="icon">
                                                <div class="panel">
                                                    <div class="vstack gap-1">
                                                        <h3 class="title h5 m-0 text-inherit">Global Placements</h3>
                                                        <p class="desc fs-6 opacity-70">Benefit from a strong placement network with top multinational companies and secure career opportunities across the globe.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div>
                                    <div class="feature-item panel p-4 border rounded hover:bg-white dark:hover:bg-primary dark:text-white hover:scale-105 duration-150 transition-all">
                                        <div class="vstack panel min-h-250px">
                                            
                                            <div class="vstack justify-between gap-2 h-100">
                                                <img style="height: 50px ; width:50px" src="/assets/images/reward.png" alt="icon">
                                                <div class="panel">
                                                    <div class="vstack gap-1">
                                                        <h3 class="title h5 m-0 text-inherit">Earn While You Learn</h3>
                                                        <p class="desc fs-6 opacity-70">Gain real-world experience and financial independence through live projects, part-time roles, and internships during your course.
                                                            .</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section end -->

  <%- include('./partials/faq.ejs') %>
<div style="margin-bottom: 80px;">
  <%- include('./partials/testimonial.ejs') %>
</div>
   

    <!-- Section end -->

<%- include('footer') %>