<!DOCTYPE html>
<html lang="en" dir="ltr">
    
<!-- Mirrored from unistudio.co/html/lexend/main/index-2 by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 May 2025 19:14:12 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <link rel="icon" href="/assets/images/icon.png" type="image/x-icon">
    <meta name="description" content="Applications open for admissions at INSD Raipur! Specializing in Interior Design, Fashion Technology, UI/UX, Animation & more. Launch your creative career with industry experts.">
  
    <!-- Open Graph meta tags for social sharing -->
    <meta property="og:title" content=" Admissions Open | INSD Raipur - Top Ranked Design Institute">
    <meta property="og:description" content="Limited seats available for 2025 batch in 7 specialized design programs. Early applicants get scholarship opportunities.">
    <meta property="og:image" content="/assets/images/metalogo.png">
    <meta name="author" content="INSD">
    <meta property="og:type" content="website">
    <meta name="keywords" content="design college 2025, fashion technology course, uiux certification, 3d animation degree, creative arts admission process, best design institute raipur">
   
  
  
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="INSD Raipur Admissions">
    <meta name="twitter:description" content="INSD design school now accepting applications for Diploma, Bachelor & Master programs in creative fields.">
        <meta name="twitter:image" content="/assets/images/metalogo.png">
        
        <!-- preload head styles -->
        <link rel="preload" href="/assets/css/unicons.min.css" as="style">
        <link rel="preload" href="/assets/css/swiper-bundle.min.css" as="style">
        <link rel="preload" href="/assets/css/magic-cursor.min.css" as="style">

        <!-- preload footer scripts -->
        <link rel="preload" href="/assets/js/libs/jquery.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/scrollmagic.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/swiper-bundle.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/anime.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/typed.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/tilt.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/split-type.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/prettify.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/gsap.min.js" as="script">
        <link rel="preload" href="/assets/js/core/magic-cursor.js" as="script">
        <link rel="preload" href="/assets/js/helpers/data-attr-helper.js" as="script">
        <link rel="preload" href="/assets/js/helpers/swiper-helper.js" as="script">
        <link rel="preload" href="/assets/js/helpers/splitype-helper.js" as="script">
        <link rel="preload" href="/assets/js/helpers/anime-helper.js" as="script">
        <link rel="preload" href="/assets/js/helpers/typed-helper.js" as="script">
        <link rel="preload" href="/assets/js/helpers/tilt-helper.js" as="script">
        <link rel="preload" href="/assets/js/core/marquee.js" as="script">
        <link rel="preload" href="/assets/js/uikit-components-bs.js" as="script">
        <link rel="preload" href="/assets/js/form.js" as="script">
        <link rel="preload" href="/assets/js/app.js" as="script">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap" rel="stylesheet">
        <!-- app head for bootstrap core -->
        <script src="/assets/js/app-head-bs.js"></script>
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      />
        <!-- include uni-core components -->
        <link rel="stylesheet" href="/assets/js/uni-core/css/uni-core.min.css">

        <!-- include styles -->
        <link rel="stylesheet" href="/assets/css/unicons.min.css">
        <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/assets/css/prettify.min.css">
        <link rel="stylesheet" href="/assets/css/magic-cursor.min.css">

        <!-- include main style -->
        <link rel="stylesheet" href="/assets/css/theme/main.min.purge.css">

        <!-- include scripts -->
        <script src="/assets/js/uni-core/js/uni-core-bundle.min.js"></script>
    </head>
    <body class="uni-body panel bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-200 overflow-x-hidden disable-cursor">

        

        <!-- Header start -->
        <header class="uc-header header-default uc-navbar-sticky-wrap z-999 " style="--uc-nav-height: 80px; background:#19182c" data-uc-sticky="start: 100vh; show-on-up: true; animation: uc-animation-slide-top; sel-target: .uc-navbar-container; cls-active: uc-navbar-sticky; cls-inactive: uc-navbar-transparent; end: !*;">
            <nav class="uc-navbar-container  ft-tertiary z-1" data-anime="translateY: [-40, 0]; opacity: [0, 1]; easing: easeOutExpo; duration: 750; delay: 0;">
                <div class="container max-w-xl">
                    <div class="uc-navbar min-h-64px lg:min-h-80px  text-white"  data-uc-navbar="mode: click; animation: uc-animation-slide-top-small; duration: 150;">
                        <div class="uc-navbar-left"  style="width: 90%;">
                            <div class="uc-logo text-dark dark:text-white">
                                <a class='panel text-none' href='/' style='width: 180px'>
                                    <img class="dark:d-none" src="/assets/images/logo.png" alt="INSD logo">
                                </a>
                            </div>
                            
                            <ul style="width: 80%; justify-content:center" class="uc-navbar-nav gap-3 xl:gap-4 d-none lg:d-flex fw-medium ms-2">
                                <li><a href='/about'>About</a></li>
                                <li><a href='/courses'>Courses</a></li>
                                <li><a href='/gallery'>Glimpses</a></li>
                                <li><a href='/blogs'>Insights</a></li>
                                <li><a href='/contact'>Contact</a></li>
                                <!-- <li>
                                    <a href="#">More <span data-uc-navbar-parent-icon></span></a>
                                    <div class="uc-navbar-dropdown" data-uc-drop="mode: click; offset: 0; boundary: !.uc-navbar; stretch: x; animation: uc-animation-slide-top-small; duration: 150;">
                                        <div class="uc-drop-grid row child-cols g-4" data-uc-grid>
                                            <div>
                                                <div class="uc-drop-grid row child-cols g-4" data-uc-grid>
                                                    <div>
                                                        <ul class="uc-nav uc-navbar-dropdown-nav">
                                                            <li class="uc-nav-header">Main Pages</li>
                                                            <li><a href='index.html'>Home 01</a></li>
                                                            <li><a href='index-2.html'>Home 02</a></li>
                                                            <li><a href='index-3.html'>Home 03</a></li>
                                                            <li>
                                                                <a href='index-4.html'>Home 04 <span class="fw-bold text-primary fs-8 ms-1 px-1 border rounded-pill">New</span></a>
                                                            </li>
                                                            <li>
                                                                <a href='index-5.html'>Home 05 <span class="fw-bold text-primary fs-8 ms-1 px-1 border rounded-pill">New</span></a>
                                                            </li>
                                                            <li>
                                                                <a href='index-6.html'>Home 06 <span class="fw-bold text-primary fs-8 ms-1 px-1 border rounded-pill">New</span></a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Home 07 <span class="fw-bold text-gray-400 fs-8 ms-1 px-1 border rounded-pill">Soon</span></a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Home 08 <span class="fw-bold text-gray-400 fs-8 ms-1 px-1 border rounded-pill">Soon</span></a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Home 09 <span class="fw-bold text-gray-400 fs-8 ms-1 px-1 border rounded-pill">Soon</span></a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Home 10 <span class="fw-bold text-gray-400 fs-8 ms-1 px-1 border rounded-pill">Soon</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                        <ul class="uc-nav uc-navbar-dropdown-nav">
                                                            <li class="uc-nav-header">Inner Pages</li>
                                                            <li><a href='page-features.html'>Features</a></li>
                                                            <li><a href='page-pricing.html'>Pricing</a></li>
                                                            <li><a href='page-integrations.html'>Integrations</a></li>
                                                            <li><a href='page-about.html'>About</a></li>
                                                            <li><a href='page-career.html'>Career</a></li>
                                                            <li>
                                                                <a href='page-team.html'>Team <span class="fw-bold text-primary fs-8 ms-1 px-1 border rounded-pill">New</span></a>
                                                            </li>
                                                            <li><a href='page-career-detail.html'>Job details</a></li>
                                                            <li><a href='page-contact.html'>Contact</a></li>
                                                            <li><a href='page-contact-2.html'>Contact v2</a></li>
                                                            <li>
                                                                <a href="#">Services <span class="fw-bold text-gray-400 fs-8 ms-1 px-1 border rounded-pill">Soon</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                        <ul class="uc-nav uc-navbar-dropdown-nav">
                                                            <li class="uc-nav-header">CMS Pages</li>
                                                            <li><a href='blog.html'>Modern</a></li>
                                                            <li><a href='blog-classic.html'>Classic</a></li>
                                                            <li><a href='blog-2cols.html'>Grid 2 cols</a></li>
                                                            <li><a href='blog-3cols.html'>Grid 3 cols</a></li>
                                                            <li><a href='blog-4cols.html'>Grid 4 cols</a></li>
                                                            <li><a href='blog-category.html'>Category</a></li>
                                                            <li><a href='blog-author.html'>Author</a></li>
                                                            <li><a href='blog-details.html'>Blog single</a></li>
                                                            <li><a href='blog-details-2.html'>Blog single v2</a></li>
                                                            <li><a href='blog-details-3.html'>Blog single v3</a></li>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                        <ul class="uc-nav uc-navbar-dropdown-nav">
                                                            <li class="uc-nav-header">Shop Pages</li>
                                                            <li><a href='shop.html'>Grid 4 cols</a></li>
                                                            <li><a href='shop-3.html'>Grid 3 cols</a></li>
                                                            <li><a href='shop-2.html'>Grid 2 cols</a></li>
                                                            <li><a href='shop-product-detail.html'>Product detail</a></li>
                                                            <li><a href='shop-product-detail-2.html'>Product detail v2</a></li>
                                                            <li><a href='shop-cart.html'>Cart</a></li>
                                                            <li><a href='shop-cart-2.html'>Cart v2</a></li>
                                                            <li><a href='shop-checkout.html'>Checkout</a></li>
                                                            <li><a href='shop-checkout-2.html'>Checkout v2</a></li>
                                                            <li><a href='shop-order.html'>Order confirmation</a></li>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                        <ul class="uc-nav uc-navbar-dropdown-nav">
                                                            <li class="uc-nav-header">Other pages</li>
                                                            <li><a href='sign-in.html'>Sign in</a></li>
                                                            <li><a href='sign-in-2.html'>Sign in v2</a></li>
                                                            <li><a href='sign-up.html'>Sign up</a></li>
                                                            <li><a href='sign-up-2.html'>Sign up v2</a></li>
                                                            <li><a href='reset-password.html'>Reset password</a></li>
                                                            <li><a href='reset-password-2.html'>Reset password v2</a></li>
                                                            <li><a href='404.html'>404</a></li>
                                                            <li><a href='coming-soon.html'>Coming Soon</a></li>
                                                            <li><a href='page-terms.html'>Terms of service</a></li>
                                                            <li><a href='page-privacy.html'>Privacy policy</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="panel w-100 overflow-hidden">
                                                    <div class="ratio ratio-3x4 overflow-hidden rounded">
                                                        <img src="../assets/images/template/menu-banner.jpg" alt="Let's build anything with Lexend!">
                                                        <a class="position-cover" href="https://themeforest.net/item/lexend-software-saas-startup-html5-template/51596504" target="_blank"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                        <div class="uc-navbar-right">
                            
                            <a class='btn btn-sm btn-primary text-white text-none d-none lg:d-inline-flex' style="font-family: 'graphik',sans-serif;" href='/admission'>Get started</a>
                            
                        </div>
                    </div>
                </div>
            </nav>
        </header>
