
        <!DOCTYPE html>
<html lang="en" dir="ltr">
    
<!-- Mirrored from unistudio.co/html/lexend/main/index-4 by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 May 2025 19:14:15 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="/assets/images/icon.png" type="image/x-icon">
    <meta name="description" content="Join INSD Raipur, a global leader in design education offering Fashion, Interior, Graphic, Animation, Photography & Digital Marketing courses.">
  
    <!-- Open Graph meta tags for social sharing -->
    <meta property="og:title" content="INSD Raipur | Premier Design Institute in Chhattisgarh">
    <meta property="og:description" content="Join INSD Raipur, a global leader in design education offering Fashion, Interior, Graphic, Animation, Photography & Digital Marketing courses.">
    <meta property="og:image" content="/assets/images/metalogo.png">
    <meta name="author" content="INSD">
    <meta property="og:type" content="website">
    <meta name="keywords" content="insd raipur, design institute raipur, fashion design raipur, interior design chhattisgarh, graphic design course, animation school india, photography classes, digital marketing raipur, top design college, insd branches">
   
  
  
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="INSD Raipur | Premier Design Institute in Chhattisgarh">
    <meta name="twitter:description" content="Join INSD Raipur, a global leader in design education offering Fashion, Interior, Graphic, Animation, Photography & Digital Marketing courses.">
        <meta name="twitter:image" content="/assets/images/metalogo.png">
        
        <!-- preload head styles -->
        <link rel="preload" href="/assets/css/unicons.min.css" as="style">
        <link rel="preload" href="/assets/css/swiper-bundle.min.css" as="style">
        <link rel="preload" href="/assets/css/magic-cursor.min.css" as="style">

        <!-- preload footer scripts -->
        <link rel="preload" href="/assets/js/libs/jquery.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/scrollmagic.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/swiper-bundle.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/anime.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/typed.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/tilt.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/split-type.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/prettify.min.js" as="script">
        <link rel="preload" href="/assets/js/libs/gsap.min.js" as="script">
        <link rel="preload" href="/assets/js/core/magic-cursor.js" as="script">
        <link rel="preload" href="/assets/js/helpers/data-attr-helper.js" as="script">
        <link rel="preload" href="/assets/js/helpers/swiper-helper.js" as="script">
        <link rel="preload" href="/assets/js/helpers/splitype-helper.js" as="script">
        <link rel="preload" href="/assets/js/helpers/anime-helper.js" as="script">
        <link rel="preload" href="/assets/js/helpers/typed-helper.js" as="script">
        <link rel="preload" href="/assets/js/helpers/tilt-helper.js" as="script">
        <link rel="preload" href="/assets/js/core/marquee.js" as="script">
        <link rel="preload" href="/assets/js/uikit-components-bs.js" as="script">
        <link rel="preload" href="/assets/js/form.js" as="script">
        <link rel="preload" href="/assets/js/app.js" as="script">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap" rel="stylesheet">
        <!-- app head for bootstrap core -->
        <script src="/assets/js/app-head-bs.js"></script>
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      />
        <!-- include uni-core components -->
        <link rel="stylesheet" href="/assets/js/uni-core/css/uni-core.min.css">

        <!-- include styles -->
        <link rel="stylesheet" href="/assets/css/unicons.min.css">
        <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/assets/css/prettify.min.css">
        <link rel="stylesheet" href="/assets/css/magic-cursor.min.css">

        <!-- include main style -->
        <link rel="stylesheet" href="/assets/css/theme/main.min.purge.css">

        <!-- include scripts -->
        <script src="/assets/js/uni-core/js/uni-core-bundle.min.js"></script>
        <!-- preload head styles -->
        <link rel="preload" href="../assets/css/unicons.min.css" as="style">
        <link rel="preload" href="../assets/css/swiper-bundle.min.css" as="style">
        <link rel="preload" href="../assets/css/magic-cursor.min.css" as="style">

        <!-- preload footer scripts -->
        <link rel="preload" href="../assets/js/libs/jquery.min.js" as="script">
        <link rel="preload" href="../assets/js/libs/scrollmagic.min.js" as="script">
        <link rel="preload" href="../assets/js/libs/swiper-bundle.min.js" as="script">
        <link rel="preload" href="../assets/js/libs/anime.min.js" as="script">
        <link rel="preload" href="../assets/js/libs/typed.min.js" as="script">
        <link rel="preload" href="../assets/js/libs/tilt.min.js" as="script">
        <link rel="preload" href="../assets/js/libs/split-type.min.js" as="script">
        <link rel="preload" href="../assets/js/libs/prettify.min.js" as="script">
        <link rel="preload" href="../assets/js/libs/gsap.min.js" as="script">
        <link rel="preload" href="../assets/js/core/magic-cursor.js" as="script">
        <link rel="preload" href="../assets/js/helpers/data-attr-helper.js" as="script">
        <link rel="preload" href="../assets/js/helpers/swiper-helper.js" as="script">
        <link rel="preload" href="../assets/js/helpers/splitype-helper.js" as="script">
        <link rel="preload" href="../assets/js/helpers/anime-helper.js" as="script">
        <link rel="preload" href="../assets/js/helpers/typed-helper.js" as="script">
        <link rel="preload" href="../assets/js/helpers/tilt-helper.js" as="script">
        <link rel="preload" href="../assets/js/core/marquee.js" as="script">
        <link rel="preload" href="../assets/js/uikit-components-bs.js" as="script">
        <link rel="preload" href="../assets/js/form.js" as="script">
        <link rel="preload" href="../assets/js/app.js" as="script">

        <!-- app head for bootstrap core -->
        <script src="../assets/js/app-head-bs.js"></script>

        <!-- include uni-core components -->
        <link rel="stylesheet" href="../assets/js/uni-core/css/uni-core.min.css">

        <!-- include styles -->
        <link rel="stylesheet" href="../assets/css/unicons.min.css">
        <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="../assets/css/prettify.min.css">
        <link rel="stylesheet" href="../assets/css/magic-cursor.min.css">

        <!-- include main style -->
        <link rel="stylesheet" href="../assets/css/theme/main.min.purge.css">

        <!-- include scripts -->
        <script src="../assets/js/uni-core/js/uni-core-bundle.min.js"></script>
    </head>
    <body class="uni-body panel bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-200 overflow-x-hidden disable-cursor">

        <div id="uc-menu-panel" data-uc-offcanvas="overlay: true;">
            <div class="uc-offcanvas-bar bg-white text-dark dark:bg-gray-900 dark:text-white">
                <header class="uc-offcanvas-header hstack justify-between items-center pb-2 bg-white dark:bg-gray-900">
                    <div class="uc-logo">
                        <a class='h5 text-none text-gray-900 dark:text-white' href='/'>
                            <img style="height: 50px;" src="/assets/images/logo-red.png" alt="INSD">
                        </a>
                    </div>
                    <button class="uc-offcanvas-close rtl:end-auto rtl:start-0 m-1 mt-2 icon-3 btn border-0 dark:text-white dark:text-opacity-50 hover:text-primary hover:rotate-90 duration-150 transition-all" type="button">
                        <i style="font-size: 24px;
    color: #7a7c7f;
    padding-right: 5px;" class="fa-solid fa-xmark"></i>
                    </button>
                </header>

                <div class="panel">
                    
                    <ul class="nav-y gap-narrow fw-medium fs-6" data-uc-nav>
                        <li><a href='/'>Home</a></li>
                        <li><a href='/about'>About</a></li>
                        <a href="/courses">Courses</a>
                        <li class="uc-parent">
                            
                            <ul class="uc-nav-sub" >
                                <li><a href='/fashion-designing'>Fashion Designing</a></li>
                                <li><a href='/interior-designing'>Interior Designing</a></li>
                                <li><a href='/graphic-designing'>Graphic Designing</a></li>
                                <li><a href='/photography'>Photography</a></li>
                                <li><a href='/event-management'>Event Management</a></li>
                                <li><a href='/uiux-designing'>UI/UX Designing</a></li>
                                <li><a href='/digital-marketing'>Digital Marketing</a></li>
                                <li><a href='/animation-designing'>Animation Designing</a></li>
                            </ul>
                        </li>
                        <li><a href='/contact'>Contact</a></li>
                        <li><a href='/blogs'>Insights</a></li>
                        <li><a href='/gallery'>Glimpeses</a></li>
                       
                       
                        </ul>
                
                </div>
            </div>
        </div>
        <!--  Cart panel -->
       
        <style>
            /* Initial navbar background color */
            .uc-navbar-container {
                background-color: #19182c ;
                transition: background-color 0.3s ease;
            }
            
            .w-900px{
                width: 900px;
            }
            /* Sticky navbar styles: white background and black links */
            .uc-navbar-sticky .uc-navbar-container {
                background-color: #ffffff !important;
            }
            .uc-navbar-sticky .uc-navbar-nav li a {
                color: #000000 !important;
            }
            .uc-navbar-sticky .btn-primary {
                color: #ffffff !important; /* Maintain button text color */
            }
            
            /* Smooth logo transition */
            .uc-logo img {
                transition: all 0.3s ease;
            }
            </style>
            
            <header class="uc-header header-default uc-navbar-sticky-wrap z-999" style="--uc-nav-height: 80px;" data-uc-sticky="start: 100vh; show-on-up: true; animation: uc-animation-slide-top; sel-target: .uc-navbar-container; cls-active: uc-navbar-sticky; cls-inactive: uc-navbar-transparent; end: !*;">
                <nav class="uc-navbar-container ft-tertiary z-1" data-anime="translateY: [-40, 0]; opacity: [0, 1]; easing: easeOutExpo; duration: 750; delay: 0;">
                    <div class="container max-w-xl">
                        <div class="uc-navbar min-h-64px lg:min-h-80px text-white" data-uc-navbar="mode: hover; animation: uc-animation-slide-top-small; duration: 150;">
                            <div class="uc-navbar-left" style="width: 85%;">
                                <div class="uc-logo text-dark dark:text-white">
                                    <a class='panel text-none' href='/' style='width: 180px'>
                                        <img class="dark:d-none logo-img" src="/assets/images/logo.png" alt="INSD logo" data-sticky-src="/assets/images/logo-red.png" data-default-src="/assets/images/logo.png">
                                    </a>
                                </div>
                            <ul style="width:70%; justify-content:center" class="uc-navbar-nav gap-3 xl:gap-4 d-none lg:d-flex fw-medium ltr:ms-2 ltr:xl:ms-4 rtl:me-2 rtl:xl:me-4">
                                <li><a href='/about'>About</a></li>
                                <li>
                                    <a href="/courses">Courses <span data-uc-navbar-parent-icon></span></a>
                                    <div class="uc-navbar-dropdown w-900px ft-primary text-unset fs-6 fw-normal p-0 hide-scrollbar rounded-2 overflow-hidden" data-uc-drop="mode: hover; offset: 0; boundary: !.uc-navbar; animation: uc-animation-slide-top-small; duration: 150;">
                                        <div class="row child-cols-4 g-0 col-match" data-uc-grid>
                                            <div>
                                                <ul style="padding-right: 0 !important;" class="uc-nav uc-navbar-dropdown-nav p-2">
                                                    <li>
                                                        <a class='hstack items-start gap-2 p-2 hover:bg-gray-600 hover:bg-opacity-5 dark:hover:bg-white duration-150 rounded-1-5' href='/interior-designing'>
                                                            <img class="iconmenu" src="/assets/images/interior.png" alt="interiordesigning">
                                                            <span class="vstack gap-narrow mt-nnarrow">
                                                                <b class="fw-bold dark:text-white">Interior Designing</b>
                                                                <span class="fw-normal">Design inspiring interiors with function, style, and visual balance.</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class='hstack items-start gap-2 p-2 hover:bg-gray-600 hover:bg-opacity-5 dark:hover:bg-white duration-150 rounded-1-5' href='/graphic-designing'>
                                                            <img  class="iconmenu" src="/assets/images/graphic.png" alt="graphicdesigning">
                                                            <span class="vstack gap-narrow mt-nnarrow">
                                                                <b class="fw-bold dark:text-white">Graphic Designing</b>
                                                                <span class="fw-normal">Craft brand visuals using modern tools and creative design principles.</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class='hstack items-start gap-2 p-2 hover:bg-gray-600 hover:bg-opacity-5 dark:hover:bg-white duration-150 rounded-1-5' href='/event-management'>
                                                            <img  class="iconmenu" src="/assets/images/event.png" alt="eventmanagement">
                                                            <span class="vstack gap-narrow mt-nnarrow">
                                                                <b class="fw-bold dark:text-white">Event Management</b>
                                                                <span class="fw-normal">Plan, organize, and execute memorable events across various industries.</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class='hstack items-start gap-2 p-2 hover:bg-gray-600 hover:bg-opacity-5 dark:hover:bg-white duration-150 rounded-1-5' href='/digital-marketing'>
                                                            <img  class="iconmenu" src="/assets/images/digital.png" alt="digitalmarketing">
                                                            <span class="vstack gap-narrow mt-nnarrow">
                                                                <b class="fw-bold dark:text-white">Digital Marketing</b>
                                                                <span class="fw-normal">Promote brands online through SEO, social media, and ad strategies.</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <ul style="padding-left: 0 !important;" class="uc-nav uc-navbar-dropdown-nav p-2">
                                                    <li>
                                                        <a class='hstack items-start gap-2 p-2 hover:bg-gray-600 hover:bg-opacity-5 dark:hover:bg-white duration-150 rounded-1-5' href='/fashion-designing'>
                                                            <img  class="iconmenu" src="/assets/images/fashion.png" alt="fashiondesigning">
                                                            <span class="vstack gap-narrow mt-nnarrow">
                                                                <b class="fw-bold dark:text-white">Fashion Designing</b>
                                                                <span class="fw-normal">Create bold fashion statements through design, styling, and trends.</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class='hstack items-start gap-2 p-2 hover:bg-gray-600 hover:bg-opacity-5 dark:hover:bg-white duration-150 rounded-1-5' href='/photography'>
                                                            <img  class="iconmenu" src="/assets/images/photography.png" alt="photography">
                                                            <span class="vstack gap-narrow mt-nnarrow">
                                                                <b class="fw-bold dark:text-white">Photography</b>
                                                                <span class="fw-normal">Master composition, lighting, and storytelling through the art of photography.</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class='hstack items-start gap-2 p-2 hover:bg-gray-600 hover:bg-opacity-5 dark:hover:bg-white duration-150 rounded-1-5' href='/uiux-designing'>
                                                            <img  class="iconmenu" src="/assets/images/ui.png" alt="graphicdesigning">
                                                            <span class="vstack gap-narrow mt-nnarrow">
                                                                <b class="fw-bold dark:text-white">UI/UX</b>
                                                                <span class="fw-normal">Design intuitive, user-friendly digital experiences and interactive interfaces.</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class='hstack items-start gap-2 p-2 hover:bg-gray-600 hover:bg-opacity-5 dark:hover:bg-white duration-150 rounded-1-5' href='/animation-designing'>
                                                            <img  class="iconmenu" src="/assets/images/animation.png" alt="graphicdesigning">
                                                            <span class="vstack gap-narrow mt-nnarrow">
                                                                <b class="fw-bold dark:text-white">Animation Designing</b>
                                                                <span class="fw-normal">Animate stories with motion graphics, 2D/3D design, and VFX.</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <div class="vstack gap-2 p-3 h-100 bg-gray-25 dark:bg-gray-300 dark:bg-opacity-5">
                                                    <div class="featured-image panel" data-uc-lightbox="video-autoplay: true;">
                                                        <video style="height: 100%;
                                                        max-height:300px;
                                         border-radius:10px !important;
    object-fit: cover;" autoplay loop muted playsinline class="w-100 h-auto object-cover rounded">
                                            <source src="/assets/images/ddvideo.mp4" type="video/mp4">
                                            Your browser does not support the video tag.
                                          </video>
                                                    </div>
                                                    <div style="flex: none !important;" class="vstack  gap-2">
                                                        <div class="vstack gap-1">
                                                            <h5 class="h6 mt-1">Ready to get started or need help choosing a course?</h5>


                                                        </div>
                                                        <a class='btn btn-sm btn-primary' style="font-family: graphik,sans-serif; color:white !important" href='/admission'>Get Started</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href='/blogs'>Insights</a></li>
                                <li><a href='/gallery'>Glimpses</a></li>
                                <li><a href='/contact'>Contact</a></li>
                                
                            </ul>
                        </div>
                        <div class="uc-navbar-right">
                           
                            <a style="font-family: graphik,sans-serif;" class='btn btn-sm btn-primary rounded-default text-white text-none d-none lg:d-inline-flex' href='/admission'>Admission Now</a>
                            <a class="d-block lg:d-none" href="#uc-menu-panel" data-uc-navbar-toggle-icon data-uc-toggle></a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <script>
            // JavaScript to toggle logo based on sticky state
            document.addEventListener('DOMContentLoaded', function () {
                const navbar = document.querySelector('.uc-navbar-container');
                const logoImg = document.querySelector('.uc-logo .logo-img');
                
                if (navbar && logoImg) {
                    const defaultSrc = logoImg.getAttribute('data-default-src');
                    const stickySrc = logoImg.getAttribute('data-sticky-src');
                    
                    const observer = new MutationObserver(function (mutations) {
                        mutations.forEach(function (mutation) {
                            if (mutation.attributeName === 'class') {
                                if (navbar.classList.contains('uc-navbar-sticky')) {
                                    logoImg.src = stickySrc;
                                } else {
                                    logoImg.src = defaultSrc;
                                }
                            }
                        });
                    });
                    
                    observer.observe(navbar, { attributes: true });
                    
                    // Initial check in case navbar is sticky on load
                    if (navbar.classList.contains('uc-navbar-sticky')) {
                        logoImg.src = stickySrc;
                    }
                }
            });
            </script>