   
   
   <%- include('header'), {seoDetails} %>
   <!-- Wrapper start -->
    <div id="wrapper" class="wrap">

        <!-- Section start -->
        <div id="hero_header" class="hero-header section panel overflow-hidden">
            <div class="section-outer panel pt-9 lg:pt-10 pb-4 sm:pb-6 xl:pb-9">
                <div class="container max-w-lg">
                    <div class="section-inner panel">
                        <div class="vstack items-center text-center gap-2 lg:gap-4">
                            <span class="fs-6 fw-bold text-uppercase text-primary">We are looking for a</span>
                            <h1 class="h2 sm:h1 lg:display-6 xl:display-5 max-w-600px my-0 mx-auto">Senior Product Designer</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section end -->

        <!-- Section start -->
        <div id="job_details" class="job-details section panel pb-6 xl:pb-9">
            <div class="section-outer panel">
                <div class="container max-w-lg">
                    <div class="section-inner panel">
                        <div class="panel fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">
                            <div class="row g-3 gy-6 lg:g-6 lg:gy-8" data-uc-grid>
                                <div class="col-12 md:col-8 md:order-2">
                                    <div class="panel fs-5 vstack gap-2">
                                        <p>A Senior Product Designer is a creative and technical professional dedicated to designing the aesthetics, functionality, and usability of a product, ensuring it delivers an exceptional user experience and aligns with the company’s goals.</p>
                                        <h3 class="h5 mt-2 mb-0">Tasks:</h3>
                                        <ul class="m-0">
                                            <li>Create end-to-end experiences, from start to finish.</li>
                                            <li>Collaborate with Product Managers, UXR and UXW to define design solutions.</li>
                                            <li>Create and deliver high-quality user interfaces that help improve the overall design language of our products.</li>
                                            <li>Have a 360o view of the area you're working on and the business in general.</li>
                                            <li>Collaborate, assist and review junior designers.</li>
                                            <li>Lead and participate in brainstorming sessions.</li>
                                            <li>Present design projects to stakeholders and gather feedback.</li>
                                            <li>Develop exhaustive design handoffs, and follow design implementations with developers.</li>
                                            <li>Conduct design and usability tests.</li>
                                            <li>Actively build and maintain internal design systems.</li>
                                            <li>Suggest improvements that contribute to the overall direction of our products and strategy.</li>
                                            <li>Participate in shaping the design culture at YASSIR.</li>
                                            <li>Help maintain and improve the internal design process.</li>
                                        </ul>
                                        <h3 class="h5 mt-2 mb-0">Requirements:</h3>
                                        <ul class="m-0">
                                            <li>A computer science graduate, relevant degree, or equivalent.</li>
                                            <li>5+ years of experience designing digital experiences, in a professional environment.</li>
                                            <li>Portfolio showcasing your work and great visual skills and attention to detail.</li>
                                            <li>Experience designing web and mobile apps.</li>
                                            <li>Ability to dissect and simplify complex problems.</li>
                                            <li>High understanding of iOS and Android design language and system behavior and platform standards in general.</li>
                                            <li>Advanced design tools mastery, such as Sketch or Figma.</li>
                                            <li>Proficient in creating high-fidelity prototypes.</li>
                                            <li>Complete mastery of design principles.</li>
                                            <li>Strong knowledge of the product development process.</li>
                                            <li>Always up to date with design industry news and best practices.</li>
                                            <li>Large knowledge of design patterns.</li>
                                            <li>Great written and verbal communication skills.</li>
                                            <li>Team player, you enjoy working in teams and sharing your experience and knowledge with others.</li>
                                            <li>Ability and willingness to learn and develop strong design leadership skills.</li>
                                            <li>Experience working and building Design Systems.</li>
                                        </ul>
                                        <h3 class="h5 mt-2 mb-0">Benifits:</h3>
                                        <div class="row child-cols-6 col-match g-1">
                                            <div>
                                                <div class="panel hstack gap-1">
                                                    <i class="icon icon-1 unicon-checkmark-outline text-primary"></i>
                                                    <span class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">Competitive salary</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="panel hstack gap-1">
                                                    <i class="icon icon-1 unicon-checkmark-outline text-primary"></i>
                                                    <span class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">Health benefits</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="panel hstack gap-1">
                                                    <i class="icon icon-1 unicon-checkmark-outline text-primary"></i>
                                                    <span class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">Company equity</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="panel hstack gap-1">
                                                    <i class="icon icon-1 unicon-checkmark-outline text-primary"></i>
                                                    <span class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">Flexible schedule</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="panel hstack gap-1">
                                                    <i class="icon icon-1 unicon-checkmark-outline text-primary"></i>
                                                    <span class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">Regular outings</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="panel hstack gap-1">
                                                    <i class="icon icon-1 unicon-checkmark-outline text-primary"></i>
                                                    <span class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">Office trips</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="panel hstack gap-1">
                                                    <i class="icon icon-1 unicon-checkmark-outline text-primary"></i>
                                                    <span class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">Career growth</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="panel hstack gap-1">
                                                    <i class="icon icon-1 unicon-checkmark-outline text-primary"></i>
                                                    <span class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">Fun team</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="panel hstack gap-1">
                                                    <i class="icon icon-1 unicon-checkmark-outline text-primary"></i>
                                                    <span class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">Education benefits</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="panel hstack gap-1">
                                                    <i class="icon icon-1 unicon-checkmark-outline text-primary"></i>
                                                    <span class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">Commuter benefits</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="panel hstack gap-1">
                                                    <i class="icon icon-1 unicon-checkmark-outline text-primary"></i>
                                                    <span class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">Holidays</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="panel hstack gap-1">
                                                    <i class="icon icon-1 unicon-checkmark-outline text-primary"></i>
                                                    <span class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">Generous PTO</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 md:col-4 order-1">
                                    <div data-uc-sticky="end: #job_details; offset: 80; media: @m;">
                                        <div class="panel vstack gap-3 lg:gap-4 p-2 lg:p-3 rounded bg-secondary dark:bg-gray-800">
                                            <h4 class="h5 m-0 pb-2 border-bottom">Job details</h4>
                                            <div class="vstack gap-2">
                                                <div class="hstack gap-1">
                                                    <i class="icon-1 unicon-portfolio"></i>
                                                    <h5 class="h6 m-0">Job type</h5>
                                                </div>
                                                <div class="hstack gap-narrow fs-7 fw-bold">
                                                    <span class="px-1 py-narrow bg-white dark:bg-gray-800 rounded">Full-time</span>
                                                    <span class="px-1 py-narrow bg-white dark:bg-gray-800 rounded">Remotly</span>
                                                </div>
                                            </div>
                                            <div class="vstack gap-1">
                                                <div class="hstack gap-1">
                                                    <i class="icon-1 unicon-location"></i>
                                                    <h5 class="h6 m-0">Location</h5>
                                                </div>
                                                <div class="hstack gap-narrow fs-7 fw-bold">
                                                    <span>Salé, Morocco</span>
                                                </div>
                                            </div>
                                            <div class="vstack gap-1">
                                                <div class="hstack gap-1">
                                                    <i class="icon-1 unicon-money"></i>
                                                    <h5 class="h6 m-0">Salary</h5>
                                                </div>
                                                <div class="hstack gap-narrow fs-7 fw-bold">
                                                    <span>$60k – $90k USD</span>
                                                </div>
                                            </div>
                                            <div>
                                                <a href="#apply" class="btn btn-md btn-primary text-white w-100">Apply job</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section end -->

        <!-- Section start -->
        <div id="career_openings" class="career-openings section panel overflow-hidden pb-6 xl:pb-9">
            <div class="section-outer panel py-6 xl:py-9 bg-secondary dark:bg-gray-800">
                <div class="container max-w-lg">
                    <div class="section-inner panel">
                        <div class="panel vstack justify-center items-center gap-4 sm:gap-6 xl:gap-8">
                            <h2 class="h4 sm:h2 m-0 text-center" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">Other jobs openings</h2>
                            <div class="panel">
                                <div class="row child-cols-12 sm:child-cols-6 col-match g-2 sm:g-3" data-uc-grid data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                    <div>
                                        <div class="panel vstack justify-end items-end gap-1 p-3 rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                            <div class="vstack gap-narrow">
                                                <h5 class="h6 lg:h5 m-0">Senior Frontend Engineer, Core</h5>
                                                <span class="fs-6 text-dark dark:text-white text-opacity-70">Remotly</span>
                                            </div>
                                            <a class='uc-link fs-7 fw-bold d-inline-flex items-center gap-narrow border-bottom pb-narrow' href='page-career-detail.html'>
                                                <span>Apply now</span>
                                                <i class="icon icon-narrow unicon-arrow-up-right fw-bold rtl:-rotate-90"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="panel vstack justify-end items-end gap-1 p-3 rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                            <div class="vstack gap-narrow">
                                                <h5 class="h6 lg:h5 m-0">Senior Frontend Engineer, AI</h5>
                                                <span class="fs-6 text-dark dark:text-white text-opacity-70">Remotly</span>
                                            </div>
                                            <a class='uc-link fs-7 fw-bold d-inline-flex items-center gap-narrow border-bottom pb-narrow' href='page-career-detail.html'>
                                                <span>Apply now</span>
                                                <i class="icon icon-narrow unicon-arrow-up-right fw-bold rtl:-rotate-90"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="panel vstack justify-end items-end gap-1 p-3 rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                            <div class="vstack gap-narrow">
                                                <h5 class="h6 lg:h5 m-0">Senior Python Engineer, Growth</h5>
                                                <span class="fs-6 text-dark dark:text-white text-opacity-70">In-house</span>
                                            </div>
                                            <a class='uc-link fs-7 fw-bold d-inline-flex items-center gap-narrow border-bottom pb-narrow' href='page-career-detail.html'>
                                                <span>Apply now</span>
                                                <i class="icon icon-narrow unicon-arrow-up-right fw-bold rtl:-rotate-90"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="panel vstack justify-end items-end gap-1 p-3 rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                            <div class="vstack gap-narrow">
                                                <h5 class="h6 lg:h5 m-0">Director of Accounting</h5>
                                                <span class="fs-6 text-dark dark:text-white text-opacity-70">In-house</span>
                                            </div>
                                            <a class='uc-link fs-7 fw-bold d-inline-flex items-center gap-narrow border-bottom pb-narrow' href='page-career-detail.html'>
                                                <span>Apply now</span>
                                                <i class="icon icon-narrow unicon-arrow-up-right fw-bold rtl:-rotate-90"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="panel vstack justify-end items-end gap-1 p-3 rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                            <div class="vstack gap-narrow">
                                                <h5 class="h6 lg:h5 m-0">Director, Marketing Operations</h5>
                                                <span class="fs-6 text-dark dark:text-white text-opacity-70">In-house (Preferably), Remotly</span>
                                            </div>
                                            <a class='uc-link fs-7 fw-bold d-inline-flex items-center gap-narrow border-bottom pb-narrow' href='page-career-detail.html'>
                                                <span>Apply now</span>
                                                <i class="icon icon-narrow unicon-arrow-up-right fw-bold rtl:-rotate-90"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="panel vstack justify-end items-end gap-1 p-3 rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                            <div class="vstack gap-narrow">
                                                <h5 class="h6 lg:h5 m-0">Team Lead, Data Science</h5>
                                                <span class="fs-6 text-dark dark:text-white text-opacity-70">Remotly</span>
                                            </div>
                                            <a class='uc-link fs-7 fw-bold d-inline-flex items-center gap-narrow border-bottom pb-narrow' href='page-career-detail.html'>
                                                <span>Apply now</span>
                                                <i class="icon icon-narrow unicon-arrow-up-right fw-bold rtl:-rotate-90"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section end -->

        <!-- Section start -->
        <div id="clients_feedbacks" class="clients-feedbacks section panel overflow-hidden">
            <div class="section-outer panel pb-6 xl:pb-9">
                <div class="container max-w-lg">
                    <div class="section-inner panel">
                        <div class="panel vstack justify-center items-center gap-4 sm:gap-6 xl:gap-8" data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                            <h2 class="h4 sm:h3 lg:h2 m-0 text-center">What clients said about us:</h2>
                            <div class="row child-cols-12 sm:child-cols-6 xl:child-cols-4 justify-center col-match g-2 lg:g-3" data-uc-grid>
                                <div>
                                    <div class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 rounded-2 border">
                                        <div class="panel vstack items-start gap-2">
                                            <div class="panel">
                                                <div class="hstack h-48px">
                                                    <img class="w-128px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/brands/brand-07.svg" alt="Brand" data-uc-svg>
                                                </div>
                                            </div>
                                            <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“We’re looking for people who share our vision! most of our time used to be taken up by most of alternate administrative work whereas now we can focus on building out to help our employees.”</p>
                                        </div>
                                        <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                            <img class="w-40px rounded-circle" src="../assets/images/avatars/01.png" alt="Mark Zellers">
                                            <div class="panel vstack items-start gap-0">
                                                <h6 class="h6 m-0">Mark Zellers</h6>
                                                <span class="fs-7 opacity-70">CEO, Co-Founder.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 rounded-2 border">
                                        <div class="panel vstack items-start gap-2">
                                            <div class="panel">
                                                <div class="hstack h-48px">
                                                    <img class="w-128px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/brands/brand-06.svg" alt="Brand" data-uc-svg>
                                                </div>
                                            </div>
                                            <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“This powerfull tool eliminates the need to leave Salesforce to get things done as I can create a custom proposal with dynamic pricing tables, and get approval from my boss all within 36 minutes.”</p>
                                        </div>
                                        <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                            <img class="w-40px rounded-circle" src="../assets/images/avatars/04.png" alt="Natalia Larsson">
                                            <div class="panel vstack items-start gap-0">
                                                <h6 class="h6 m-0">Natalia Larsson</h6>
                                                <span class="fs-7 opacity-70">Director of Sales</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 rounded-2 border">
                                        <div class="panel vstack items-start gap-2">
                                            <div class="panel">
                                                <div class="hstack h-48px">
                                                    <img class="w-128px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/brands/brand-08.svg" alt="Brand" data-uc-svg>
                                                </div>
                                            </div>
                                            <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“We are based in Europe and the latest Data Protection Regulation forces us to look for service suppliers than comply with this regulation and as we look to create our website and this builder just outstanding!”</p>
                                        </div>
                                        <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                            <img class="w-40px rounded-circle" src="../assets/images/avatars/03.png" alt="Sarah Edrissi">
                                            <div class="panel vstack items-start gap-0">
                                                <h6 class="h6 m-0">Sarah Edrissi</h6>
                                                <span class="fs-7 opacity-70">Lead Marketing</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="uc-link fw-bold d-inline-flex items-center gap-narrow">
                                <span>See all feedbacks</span>
                                <i class="icon icon-1 unicon-arrow-right rtl:rotate-180"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section end -->

        <!-- Section start -->
        <div id="trusted_brands" class="trusted-brands section panel">
            <div class="section-outer panel pb-6 xl:pb-9">
                <div class="container max-w-xl">
                    <div class="section-inner panel">
                        <div class="review-brands panel vstack justify-center gap-4 overflow-hidden text-center" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
                            <div class="panel">
                                <div class="brands hstack gap-4 justify-between max-w-950px mx-auto">
                                    <img src="https://unistudio.co/html/lexend/assets/images/review-logo/01.svg" alt="Trustpilot" class="dark:d-none">
                                    <img src="https://unistudio.co/html/lexend/assets/images/review-logo/dark-01.svg" alt="Trustpilot" class="d-none dark:d-block">
                                    <img src="https://unistudio.co/html/lexend/assets/images/review-logo/02.svg" alt="Trustpilot" class="dark:d-none">
                                    <img src="https://unistudio.co/html/lexend/assets/images/review-logo/dark-02.svg" alt="Trustpilot" class="d-none dark:d-block">
                                    <img src="https://unistudio.co/html/lexend/assets/images/review-logo/03.svg" alt="Trustpilot" class="dark:d-none">
                                    <img src="https://unistudio.co/html/lexend/assets/images/review-logo/dark-03.svg" alt="Trustpilot" class="d-none dark:d-block">
                                    <img src="https://unistudio.co/html/lexend/assets/images/review-logo/04.svg" alt="Trustpilot" class="dark:d-none">
                                    <img src="https://unistudio.co/html/lexend/assets/images/review-logo/dark-04.svg" alt="Trustpilot" class="d-none dark:d-block">
                                    <img src="https://unistudio.co/html/lexend/assets/images/review-logo/05.svg" alt="Trustpilot" class="dark:d-none">
                                    <img src="https://unistudio.co/html/lexend/assets/images/review-logo/dark-05.svg" alt="Trustpilot" class="d-none dark:d-block">
                                    <img src="https://unistudio.co/html/lexend/assets/images/review-logo/06.svg" alt="Trustpilot" class="dark:d-none">
                                    <img src="https://unistudio.co/html/lexend/assets/images/review-logo/dark-06.svg" alt="Trustpilot" class="d-none dark:d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section end -->
    </div>
    <%- include('footer') %>